.movies{
    display: flex;
    flex-wrap: wrap;
}

.search_wrapper{
    border: 1px solid silver;
    width: 50%;
    margin:10px;
    border-radius: 10px;
}

@media only screen and (max-width: 512px){
    .search_wrapper{
        width: 90%;
    }
}